*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
/image-dired
/var/pcache/gh/gh-gist-api/bin/sh: /usr/bin/git: not found
elpa/idomenu-20111122.1048
elpa
tramp
.mc-lists.el
ac-comphist.dat
var
